<div class="panel panel-primary">
  <div class="panel-heading">
    {{ title }}
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label class="col-md-4">Quantidade de nomes</label>
	  <input type="text" [(ngModel)]="total" />
	  <button (click)="updateTotal()" class="btn btn-primary">Atualizar</button>
	</div>
	

    <div class="form-group"  *ngFor="let autor of autores">
      <label class="col-md-4">Nome</label>
      <input type="text" [(ngModel)]="autor.nome" />
	</div>
	
    <div class="form-group">
      <button (click)="add()" class="btn btn-primary">Salvar</button>
    </div>
  </div>
</div>
